<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyder.worldwide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldWide">
        <activity
            android:name=".controlador.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.PerfilUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.TransicionActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.OlvidoContrasenaActivity"
            android:exported="false"
            android:parentActivityName=".controlador.IniciarSesionRegistroActivity" />
        <activity
            android:name=".controlador.ResultadoLugarActivity"
            android:exported="false"
            android:parentActivityName=".controlador.ContinenteActivity" />
        <activity
            android:name=".controlador.ContinenteActivity"
            android:exported="false"
            android:parentActivityName=".controlador.HomeActivity" />
        <activity
            android:name=".controlador.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.RegistroActivity"
            android:exported="false"
            android:parentActivityName=".controlador.IniciarSesionRegistroActivity" />
        <activity
            android:name=".controlador.IniciarSesionRegistroActivity"
            android:exported="false"
            android:parentActivityName=".controlador.MainActivity" />
        <activity
            android:name=".controlador.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- publicidad - anuncios -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7443524707348098~4941074521" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>